@import '/wp-content/plugins/wpp-ZF-Core/res/css/styles.less';

.bem-modal_auth_form{
    .form_screen{
        width: 410px;
        margin-top: 1.5em;
        h2{
/*            color: @color-purple-dark;*/
            margin: 0.3em 0 1em;
            text-align: center;
            font-size: 20px;
            line-height: 40px;
        }
        
        form{
            margin: 0;
            .form_field{
                label{
                    float:left;
                    padding-top: 5px;
                }
                .form_field-input_box{
                    float: right;
                    input{
                        margin-bottom: 0;
                        width: 230px;
                        background-color: #FFFFFF;
                        border: 1px solid #CCCCCC;
                        box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
                        transition: border 0.2s linear 0s, box-shadow 0.2s linear 0s;                    
                        border-radius: 3px 3px 3px 3px;
                        color: #555555;
                        display: inline-block;
                        height: 20px;
                        line-height: 20px;
                        padding: 4px 6px;
                    }
                }
                .form_field-tips{
                    clear: both;
                    text-align: right;
                    font-size: 10px;
                    height: 30px;
                }
                .form_field-tips_error{
                    color: #CD0A0A;
                }
            }
            .form_box-comments{
                margin-bottom: 20px;
                font-size: 0.8em;
                .ui-icon{
                
                }
            }
        }

    }
    
    .form_box-spinner{
        height: 60px;
        text-align: center;
        /*position: absolute;*/
        .form_spinner{
/*            display: none;*/
        }
        .form_box-tips{
            font-size: 10px;
            line-height: 16px;
            padding: 5px;
            position: relative;
            top: -10px;
            vertical-align: middle;
            .box-sizing;
            width: 410px;  
/*            margin: -10px 0 20px;*/
        }
    }
    .form_box-buttons{
        text-align: right;
        margin-bottom: 1.5em;
        .btn{
/*            height: 30px;
            padding: 4px;*/
        }
    }
    .form_box-links{
        text-align: center;
        border-top: 1px gray dotted;
        padding-top: 1ex;
        .link{
            cursor: pointer;
            padding: 0.3em 1em;
            line-height: 40px;
        }
    }
    .screen_login{
/*        width: 710px;
        .social_login_box{
            float: left;
            background-color: red;
            width: 300px;
        }
        form{
            margin-left: 300px;
        }*/
    }
    
    .screen_join{
        
    }
    
    .screen_logout{
        
    }
    
    .screen_forgot_password{

    }
}
